<template name="HomeLayout">
	{{> Header}}
	<main>
		<div ><!--class="billboard">-->
			<div class="billboard">
				<h1>Welcome to EVA.</h1>

				<h2>Framework & Toolbox for Evaluating Interaction</h2>
			</div>
			<div style="margin-left: 15%; width: 70%; margin-top: 2%;">
				<p style="font-size:18px">
					EVA is a supportive programm for planning, conducting and evalauting scientific studies. Thereby the main focus of EVA lies in studies within the context of Human Computer Interaction.<br>
					For this purpose EVA also acts as a coopertavie library containing Methods, Tools and Tasks used for studies.
					<br>
					Additionally EVA enables researchers to easily compare their study to other exisiting studies.
				</p>
				<p style="font-size:18px"> In short EVA offers the following features:</p>
				<ul style="font-size:16px;">
					<li> Plan your study</li>
					<li> Checklist for your study conduction</li>
					<li> Advice for study evaluation </li>
					
					
					<li> Counterbalance Tasks automatically</li>
					<li> Compare Studies </li>

					<li> Collaborative Work </li>
					<li> Share Methods / Tasks / Tools with others </li>
				</ul>
			</div>
		</div>
	</main>
	{{> Footer}}
</template>